[submodule "proj1/poj1_db1"]
	path = proj1/poj1_db1
	url = https://github.com/roylauzon/poj1_db1.git
[submodule "proj2/poj2_db1"]
	path = proj2/poj2_db1
	url = https://github.com/roylauzon/poj2_db1.git
